.theme-container .vp-sidebar {
    background-color: rgba(255, 248, 210, 0.39);
}

#main-content.vp-page {
    background-color: rgba(210, 255, 251, 0.65);
    backdrop-filter: blur(3px);
}

.theme-container {
    background-image: url("https://s2.loli.net/2024/08/16/4WLsb9Aj38SryPw.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

[data-theme="light"] .vp-project-card {
    box-shadow: #80cdd1 0px 1px 3px;
    opacity: 0.9;
    border-top: #ffffff 2px solid;
}

[data-theme="dark"] .vp-project-card {
    box-shadow: #97c8ff 0px 1px 3px;
    opacity: 0.8;
}

[data-theme="light"] {
    --bg-color-back: linear-gradient(45deg, #cbeeff48 0%, #97ffffd1 25%, #baffded7 50%, #fffcabd9 75%, #ffddab64 100%);
}

html[data-theme="dark"] {
    --bg-color-back: linear-gradient(45deg, #cbeeff48 0%, #7ae1e1d1 25%, #9beec6c0 50%, #f4da85d9 75%, #ffddab64 100%);
}

.vp-blog-hero-image {
    max-height: 25rem;
}

.vp-footer-wrapper {
    color: #ffffff;
    background-image: url("https://s2.loli.net/2024/08/16/SEgjWOvyzx7oeqs.jpg");
}