// you can change colors here
$theme-color: #ffd166;
$text-color: (
  light: #24507b,
  dark: #227966,
);
$bg-color: #6fefdec4;
$bg-color-secondary: #fff7bbc2;
$bg-color-tertiary: #ffffff;
$border-color: #6fbea8;
$box-shadow: #6fbea8;
