// you can change colors here
$theme-color: #f6ba2e;
$text-color: (
  light: #24507b,
  dark: #227966,
);
$bg-color: #6fefde;
$bg-color-secondary: #fff7bb;
$bg-color-tertiary: #ffffff;
$border-color: #6fbea8;
$box-shadow: #6fbea8;
